<html>
<head>
	<meta charset="utf-8" />
	<title>twidget 测试页面</title>
	<link rel="stylesheet" type="text/css" href="assets/style.css">
	<style type="text/css">
		#add-option-mod{display: inline-block;}
	</style>

	<script type="text/javascript" src="../src/base.js"></script>
	<script type="text/javascript" src="../src/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../src/lib/jquery.jqote2.js"></script>
	<script type="text/javascript" src="../src/record.widget.util.js"></script>
	<script type="text/javascript" src="../src/record.event.js"></script>
	<script type="text/javascript" src="../src/record.dropMenu.js"></script>
	<script type="text/javascript">
		$(function(){
			menu = new Record.DropMenu({
				trigger: '#dropmenu-1',
				name: 'menu-1',
				value: 'option1',
				model: [
					{value: '1', text: 'option1'},
					{value: '2', text: 'option2'},
					{value: '3', text: 'option3', selected: true}
				],
				templete: '<ul class="ui-dropmenu-content">' + 
					'<% for(var i = 0, len = this.data.length; i < len; i++){ %>' +
						'<% var item = this.data[i]; %>' + 
						'<li><a class="ui-dropmenu-item" data-role="item" data-value="<%= item.value %>" data-selected="<%= item.selected ? true : false %>"><%= item.text %></a></li>' +
					'<% } %>' +
				'</ul>',
				autoSet: false
			}).render();

			menu.bind('change', function(value, text){
				//alert('value:' + value + '; text:' + text)
				$('#dropmenu-1').find('.js-selected').text(text);
				$('#dropmenu-1').find('.js-ipt').val(value);
			});

			$('.js-add-option-btn').bind('click', function(){
				var $this = $(this);
				var value = $this.siblings('#added-value').val();
				var text = $this.siblings('#added-text').val();
				if(value && text){
					menu.addOption({value: value, text: text});
				}else if(!value){
					alert('请填写value');
				}else if(!text){
					alert('请填写text');
				}
			})

			var json = {name: 'ftt', email: 'canvast@163.com'}
			function sub(str,data) {
			    return str
			        .replace(/{(.*?)}/igm,function($,$1) {
			            return data[$1]?data[$1]:$;
			        });
			}

			console.log(sub("{name}(email: {email})", json))
		})
	</script>
</head>
<body>
	<a href="javascript:;" id="dropmenu-1">option1</a>
	<div id="add-option-mod">
		<label for="added-value">value</label><input type="text" id="added-value" name="added-value"/>
		<label for="added-text">text</label><input type="text" id="added-text" name="added-text"/>
		<a href="javascript:;" class="js-add-option-btn">增加选项</a>
	</div>
</body>
</html>